:local(.category) {
  display: inline-block;
  margin-right: 1rem;
  padding: .7rem;
  border: .1rem solid white;
  border-radius: .7rem;
  text-decoration: none;
  color: white;
}

:local(.active) {
  cursor: pointer;
  background-color: white;
  text-decoration: none;
  color: #6441a4;
}

:local(.category:hover) {
  cursor: pointer;
  background-color: white;
  text-decoration: none;
}
